<footer class="footer">
  <div class="footer-container">

    <!-- Social -->
    <div class="social">
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      <a href="https://github.com" target="_blank">GitHub</a>
      <a href="https://x.com" target="_blank">X</a>
      <a href="https://youtube.com" target="_blank">YouTube</a>
    </div>

    <!-- Nav -->
    <div class="nav">
      <a routerLink="/">Home</a> |
      <a routerLink="/about-me">About</a> |
      <a routerLink="/projects">Projects</a> |
      <a routerLink="/posts">Posts</a>
    </div>

    <!-- Copyright -->
    <div class="copy">
      © {{ year }} Marc
    </div>

  </div>
</footer>