<footer class="footer">
  <div class="footer-container">

    <!-- Social -->
    <div class="social">
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      <a href="https://github.com" target="_blank">GitHub</a>
      <a href="https://x.com" target="_blank">X</a>
      <a href="https://youtube.com" target="_blank">YouTube</a>
    </div>

    <!-- Nav -->
    <div class="nav">
      <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a> |
      <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About</a> |
      <a routerLink="/projects" routerLinkActive="active" (click)="closeMenu()">Projects</a> |
      <a routerLink="/posts" routerLinkActive="active" (click)="closeMenu()">Posts</a> |
      <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</a>
    </div>

    <!-- Copyright -->
    <div class="copy">
      © {{ year }} Marc
    </div>

  </div>
</footer>